<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view data</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Personal view Quora Posts</h1>
    <div class="pos">
        <h5>id:<%= personaldata.id%></h5>
            <h3 class="us">@<%=personaldata.username %></h3>
            <h4><%=personaldata.content %></h4>
    </div>
    
</body>
</html>