body
{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    color: maroon;
}
.pos
{
    background-color: blanchedalmond;
}
.us
{
    font-style: italic;
}
.op
{
   display: flex;
   justify-content: space-evenly;
}